*{
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color: #f4f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.btn{
    color: #fff;
    background-color: orange;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}

.money-img{
    width: 300px;
}

.currency{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select{
    padding: 10px 20px 10px 20px;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-size: 18px;
}

select:focus,input:focus,button:focus{
    outline: 0;
}

.currency input{
    border: 0;
    background: #dedede;
    font-size: 30px;
    text-align: right;
    border-radius: 5px;
    margin-left: 10px;
}

.swap-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate{
    font-size: 20px;
    padding: 0 10px;
}